body {
    background-color: #E0D666;
    font-family: Arial;
    margin: 0;
}

h1 {
    color: brown;
    letter-spacing: 2px;
    text-decoration: underline;

}

header {

    width: 100%;
    background-color: rgb(221, 166, 15);
    height: 100px;
    padding: 20px;
    color: white;
    text-align:center;
    font-weight:900;
    
}

nav {
    width: 100%;
    background-color: black;
    color: white;
    height: 20px;
    padding: 20px;
    }

aside {
    width: 300px;
    background-color: green;
    height: 500px;
    float: left;
}

section{
    background: yellow;
    padding: 20px;
}
article{
    width: 100px;
    float: left;
    background: blue;
    margin: 20px;
}

footer{
    clear:both;
    display: block;
    background: lightblue;
    text-align:center;
    height: 50px;
    line-height: 50px;
}

img{
    max-width: 100px;

}

.tesla{
    max-width: 250px;
}
