body {
    background-color: #E0D666;
    font-family: Arial;
}

h1 {
    color: brown;
    letter-spacing: 2px;
    text-decoration: underline;

}

header {

    width: 300px;
    background-color: red;
}