body{
    font-family: sans-serif;
    background-color:#e6e6e6;
    color: black;
    margin: 0px; 
}

/*nav{
    background: black;
    height:35px;
}*/

.header{
        padding: 10px;
}

button {
color: black;
height:25px;
margin-top: 5px;
}

header{
       color: black; 
}